@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUADRIDGE</h1>
    <p class="lead">
        Quadridge is a provider of sophisticated corporate services including the provision of independent directors
        and trustees and comprehensive company secretarial support. It utilises a pool of highly skilled directors, staff
        and consultants. Our team includes seasoned professionals with many years’ experience in the structured finance and
        debt capital markets having worked at major banks and financial institutions in South Africa and the United Kingdom.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Deals</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meetings</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>