@model IEnumerable<Quadridge.Models.Client>
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients</h2>
<p>
    @Html.ActionLink("New Client", "New", "Clients", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>We don't have any clients yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model)
            {
            <tr>
                <td>@Html.ActionLink(client.Firstname, "Details", "Clients", new { id = client.ClientId }, null)</td>
                <td>@Html.ActionLink(client.Surname, "Details", "Clients", new { id = client.ClientId }, null)</td>
                @if (client.Company != null)
                {
                    <td>@client.Company.Name</td>
                }

            </tr>
            }
        </tbody>
    </table>
}
