
@model IEnumerable<Quadridge.Models.Deal>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deals</h2>
<p>
    @Html.ActionLink("New Deal", "New", "Deals", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>We don't have any deals</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Clients</th>
                <th>Test</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deal in Model)
            {
                <tr>
                    <td>@Html.ActionLink(deal.Name, "Details", "Deals", new { id = deal.DealId }, null)</td>
                    <td>
                        <button class= "js-test" onclick="bootbox.alert('hello')">Test</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
